<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<title>{ $form_title }</title>
<link rel="stylesheet" type="text/css" href="{ $_tpl_url }style.css">
</head>

<body>

<table width="100%" cellspacing="0"><tr><td width="50%">&nbsp;</td><td><div id="form_container">
<h2>{ $form_title }</h2>
{ if $form_desc != "" }<div class="form_desc">{ $form_desc }</div>{ /if }
{ if $error_msg != "" }<div class="form_error">{ $error_msg }</div>{ /if }
{ $form }
</div></td><td width="50%">&nbsp;</td></tr></table>

</body>
</html>