<tr><td colspan="2" id="bigfoot">

<p align="center"><small>Powered by: { if $_theme_hp }<a href="{ $_software_hp }">{ /if }{ $_software }{ if $_software_hp }</a>{ /if } { $_version } | Used theme: { if $_theme_title }{ if $_theme_hp }<a href="{ $_theme_hp }">{ /if }{ $_theme_title }{ if $_theme_hp }</a>{ /if }{ /if }<br>
Page generation time: { insert name="gt" }&nbsp;s | SQL requests number: { $_stat_sql_requests } | Timestamp: { $_ts }<br>
May the force be with you</small></td>

</td></td>
</table>

</body>
</html>